[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"

[packages]
lock = "*"
todoist2org = {editable = true,path = "."}

[requires]
python_version = "3.8"
